fastapi==0.110.1
uvicorn==0.29.0
websockets==12.0
vosk==0.3.45
openai-whisper==20231117
gTTS==2.5.1
pygame==2.5.2
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1
pyaudio==0.2.14
sounddevice==0.4.6
numpy==1.26.4
requests==2.31.0
